<!DOCTYPE html>
<html lang="ru">
    <%- include('Head.ejs') %>
    <body>
        <%- include('Header.ejs') %>
        <div class="container">
            <center>
                <div class="SignUpGroup">
                    <h1>Регистрация</h1>
                    <form method="post">
                        <input type="text" placeholder="Имя пользователя" style="width: fit-content;" class="form-control" name="username" /><br><br>
                        <input type="text" placeholder="Пароль" style="width: fit-content;" class="form-control" name="password" /><br><br>
                        <input type="submit" class="SaveButton" value="Зарегистрироваться"/>
                    </form>
                </div>
            </center>
        </div>
        <%- include('Footer.ejs') %>
        <script src="http://localhost:5003/static/JS/SetColor.js"></script>
        <script src="http://localhost:5003/static/JS/SignIn.js"></script>
    </body>
</html>
