<!DOCTYPE html>
<html lang="ru">
    <%- include('Head.ejs') %>
    <body>
        <%- include('Header.ejs') %>
        <div class="container">
            <div class="SuccessAdd">
                <center>
                    <h4>Вы успешно вышли из аккаунта</h4>
                </center>
            </div>
        </div>
        <%- include('Footer.ejs') %>
    </body>
</html>