<!DOCTYPE html>
<html lang="ru">
  <%- include('Head.ejs') %>
  <body>
    <%- include('Header.ejs') %>
    <div class="container">
        <div class="SuccessAdd">
            Вы успешно вошли в аккаунт
        </div>
    </div>
    <%- include('Footer.ejs') %>
    <script src="http://localhost:5003/static/JS/SetColor.js"></script>
  </body>
</html>